* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 20px;
}
html,body,button{
  font-size: 2rem;
}
.img-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .img-item {
    border: 1px solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.one, .answer {
  text-align: center;
}

.answer {
  img {
    width: 40%;
  }
}

.one {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.test {
  --size:70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  button {
    padding: 1.2rem;
  }
  img{
    width:  var(--size);
    height: var(--size);
  }

  .good{
    position: relative;
    &:after{
      position: absolute;
      top:0;
      right: 0;
      content: '\2713';
      display: block;
      width:  var(--size);
      height: var(--size);
      color: #00ffaf;
      text-shadow: 0 0 1px black;

    }
  }
}





.buttons {
  position: fixed;
  bottom: 2rem;
  margin: 0 50%;
  transform: translate(-53%);
  width: 100%;

  text-align: center;
  button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
  }
}