<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Game1</title>
</head>
<body>
<div class="container" id="vuejs">

<div class="weakness">{{weakNums}}</div>
    <!--რიცხვი-->
    <div class="one">
        <h1>{{one}}</h1>
    </div>

    <!--ტესტის ღილაკები-->
    <div class="test">
        <span  v-for="test in tests" :class="test === one? rightClass: '' "><img @click="isRight($event,test)" :src="`imgs/${test}.jpg`"></span>
    </div>

    <!--სურათი-->
    <div class="answer" v-show="answer">
        <img :src="`imgs/${one}.jpg`" :alt="one" :title="one">
    </div>


    <!--ღილაკები-->
    <div class="buttons">
        <btn >
            <template slot="if_true">hide answer</template>
            <template slot="if_else">show answer</template>
        </btn>
        <btn>
            <template slot="if_true">hide answer</template>
            <template slot="if_else">show answer</template>
        </btn>

        <button @click="next();">next</button>
    </div>

    <!--ყველა სურათი-->
    <div class="img-items" v-if="show">
        <div v-for="img in all" class="img-item">
            <img :src="`imgs/${img}.jpg`" :alt="img" :title="img">
            <span>{{img}}</span>
        </div>
    </div>


</div>


<script src="js/vue.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>